body {
  margin: 0;
  padding: 2% 0 0 0;
  color: white;
  background-color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title{
  font-weight: bold;
}
.header{
  text-align: center;
}
.todo-container {
  display: flex;
  flex: 6;
  justify-content: space-around;
  width: 50vw;
}
#todo-text {
  flex: 5;
  border-radius: 5px 0px 0px 5px;
  border-color: transparent;
}
#todo-button {
  flex: 1;
  border-radius: 0px;
  border-radius: 0px 5px 5px 0px;
}
hr{
  border-color: white;
  width: 100%;
}
.todo-body {
  width: 100%;
  display: flex;
  flex-direction: inherit;
  justify-content: flex-start;
}
.display-none {
  display: none;
}
.title-pending,
.title-done,
.title-cancelled {
  cursor: pointer;
}
h2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show,
.hide {
  font-size: 15px;
}
.show {
  color: green;
}
.hide {
  color: orange;
}
.delete-btn{
  cursor: pointer;
  color: rgb(165, 0, 0);
  margin-top: 20px;
}
/* *********************************************************************** */
.list {
  background-color: #333;
  margin: 0;
  padding: 0 0 0 0;
  border-radius: 3px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;

  padding: 0.5%;
  margin: 3px 0px;
  font-size: 18px;
  list-style-type: none;
  background-color: rgb(116, 141, 139);
  width: 100%;
}
.li-text {
  word-wrap: break-word;
  width: 80%;
}
.li-buttons {
  display: flex;
  justify-content: right;

  width: 20%;
  right: 0px;
}