.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: "#e5e5e5";
}

.calculator-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20vw;
  height: 70vh;
  background-color: #333;
  padding: 5px 3px;
  min-width: 250px;
  min-height: 450px;
  max-width: 500px;
  max-height: 450px;
}

.header{
   width: 100%;
   height: 5%;
}

.header .header-text{
  color: white;
  margin: 5px;
  font-size: 13px;
}

.screen-section{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.screen-section .top-text{
  color: white;
  font-size: 13px;
  max-width: 95%;
}

.screen-section .main-text{
  font-size: 30px;
  color: white;
  max-width: 95%;
}

.keys-section{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.key-container{
  width: 24.2%;
  height: 16%;
  border: 1px solid #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key-text{
  color: #a5a5a5;
  font-size: 15 px;
}